<plugin name='one-line-access-log' version='0.2' grailsVersion='2.2 &gt; *'>
  <author>Anton Mostovoy</author>
  <authorEmail>anton@mostovoy.net</authorEmail>
  <title>One Line Access Log Plugin</title>
  <description>This plugin provides a single line access log for every request in the format:
"(10.1.3.5) Status 200 in 0.003s (view 33%) for [GET] to FooBooController#index [asd:324]"
</description>
  <documentation>http://grails.org/plugin/one-line-access-log</documentation>
  <type>OneLineAccessLogGrailsPlugin</type>
  <resources>
    <resource>OLALFilters</resource>
  </resources>
</plugin>